body {
  margin: 10px;
 
  font-family: "Courier New",Courier,monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:linear-gradient(to right, rgb(117, 3, 211), rgb(2, 222, 237));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center{
	display:flex;
	justify-content: center;
}